<body>
    <%if(msg && msg.length){%>
     <div class="row">
        <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
            <strong>
                <%= msg %>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div> 
    <%}%>
    <%if(err && err.length){%>
        <div class="row">
           <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
               <strong>
                   <%= err %>
               </strong>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
       </div> 
       <%}%>
</body>